.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  top: 0;
}

th {
  background-color: #444;
  color: white;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 10;
}

body {
  width: 100%;
  height: 99vh;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: none;
}

.container {
  height: 78%;
  overflow-y: scroll;
  margin-left:10px ;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: center;
  height: 7%;
}

.footer{
    height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left:10px ;
  margin-right: 10px;
}

.header div{
    font-size: 2vw;
    padding: 5px;
}

textarea {
    resize: none;
    height: 12vh;
    width: 98vw;
  }

.buttond {
  background:transparent;
  border: none;
  padding: 0.3vw;
  color: blue;
  width: 9vw;
}
